.popup {
  z-index: 2;
  display: flex;
  width: 90vw;
  height: 90vh;
  border: 1px solid red;
  background-color: #000;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup_hidden {
  display: none;
}