.popup {
  z-index: 2;
  display: flex;
  width: 90vw;
  height: 90vh;
  border: 1px solid red;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 10vw;
  box-sizing: border-box;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.popup::-webkit-scrollbar {
  display: none;
}

.popup_hidden {
  display: none;
}

.popup__close-icon {
  width: 5vw;
  position: fixed;
  top: 1vh;
  right: 1vw;
  transition: opacity 0.3s ease;
}

.popup__close-icon:hover {
  opacity: 0.4;
}