.app {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-text {
  margin: 0;
  line-height: 1;
  color: #dbdbdb;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.2vw;
}

.app-link {
  text-decoration: none;
  cursor: pointer;
}

.app-link:hover {
  background-color: black;
}