.letters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letters_hidden {
  display: none;
}

.letters__title {
  font-size: 3vw;
  padding-bottom: 2vw;
}

.letters__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  column-gap: 2vw;
  row-gap: 2vw;
}

.letters__show-button {
  width: 50vw;
}

.letter__show-button-text {
  font-size: 3vw;
  text-align: center;
  background-color: rgb(35, 35, 35);
  border-radius: 1vw;
}

@media (max-width: 450px) {
  .letters__list {
    grid-template-columns: repeat(4, 1fr);
  }

  .letters__title {
    font-size: 5vw;
  }

  .letter__show-button-text {
    font-size: 5vw;
  }
}